html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


    
body {
    background: url('Privat.JPG') no-repeat center center / cover;
    background-position: 0px -150px;
    width: 100%;
    height: 100%;
    position: relative;
    /* max-width: 1000px; */
    background-position-x: center;
    background-position-y: top center;
    /* top: 50%; */
    /* display: ; */
    /* justify-content: center; */
}

ul#countdown {
    background-color: #00000039;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    margin: 0 auto;
    padding: 15px 0 20px 0;
    color: #fff;
    border: 1px solid #adafb2;
    border-width: 1px 0;
    overflow: hidden;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-weight: bold;
}

ul#countdown li {
    margin: 0 -3px 0 0;
    padding: 0;
    display: inline-block;
    width: 25%;
    font-size: 72px;
    font-size: 6vw;
    text-align: center;
}

ul#countdown li .label {
    color: #ea4c4c;
    font-size: 18px;
    font-size: 1.5vw;
    text-transform: uppercase;
}

h1 {
    text-align: center;
    font: 300 2.25em "Lato";
    text-transform: uppercase;
}

h1 strong {
    font-weight: 400;
    color: #ea4c4c;
}